style: include:no-php profiler.css
.profiler
    each $process in $processes
        .bar(style=$process->style)
            =$process->link
            br
            =$process->duration
script: include:no-php profiler.js
